#数据库连接配置
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jdbc
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver


#mynatis配置
mybatis:
  type-aliases-package: eumji.eumji.mybatisxml.vo
  #mapper加载路径
  mapper-locations: classpath:com/eumji/mybatisxml/mapper/*Mapper.xml
  #myatbis配置文件
  config-location: classpath:mybatis-conf.xml
#加载log4j2
logging:
  config: classpath:log4j2.xml
  level: debug
  file:
