<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eumji.mybatisxml.mapper.UserInfoMapper">
    
    
    <select id="selectAllUser" resultType="com.eumji.mybatisxml.vo.UserInfo">
        SELECT * from user2
    </select>

    <insert id="insertUser">
        insert into user2(name,sex) values(#{userName},#{sex})
    </insert>

    <update id="updateUser">
        update user2 set name = #{name},sex=#{sex} where id = #{id}
    </update>
</mapper>

