<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>404 page</title>
</head>
<body>
    <h1>404</h1>
<p>some things has missing</p>
    <!--/*@thymesVar id="url" type="com.eumji.exception.util.ResultMessage"*/-->
    <div th:text="${url}"></div>
    
    <!--/*@thymesVar id="exception" type="com.eumji.exception.util.ResultMessage"*/-->
    <div th:text="${exception.message}"></div>
</body>
</html>